<html>
    <head>
        <style>
            @font-face {
            font-family: 'JosefinSans';
               src: url('<%= BaseUrl %>/assets/pdf_fonts/JosefinSans-Regular.ttf') format('truetype');
            }
           body {
               font-family: Arial, sans-serif;
               background-color: #FFFFFF;
           }
           .st8InsideCoverdiv {
               width: 2175px;
               height: 2925px;
               background: #FFF;
               position: relative;
               display: flex;
               flex-direction: row;
               justify-content: center;
               break-after: page;
           }
           .st8Coverdiv {
               display: flex;
               flex-direction: row;
               width: 100%;
               height: 100%;
               margin: 0;
           }
           .st8page {
               width: 100%;
               position: relative;
               background-color: #FFF;
            }
            .leftpage .st8page{
                margin: 90px 213px 90px 90px
            }
            .rightpage .st8page{
                margin: 90px 90px 90px 213px
            }
           .MonthName{
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                font-size: 24px !important;
                color: #212121;
                font-family: "JosefinSans" !important;
                font-weight: 600;
                z-index: 12;
                text-transform: uppercase;
                background: #FFF;
           }
           .monthlyBox{
                position: absolute;
                left: 0;
                top: 6.5%;
                z-index: 3;
                width: 100%;
           }
           .PageSubImages{
                width: 100%;
                height: 100%;
            }
           
           
       </style>
    </head>
    <body>
        
        <% if(Page=="Left"){%>
        <div class="st8InsideCoverdiv leftpage">
            <div class="st8Coverdiv">
                <div  class="st8page">
                    <img class='PageSubImages' src="<%= ImageArr.left_image %>"  alt=''/>
                    <div class="MonthName"><%= MonthName %></div>
                    
                </div>
            </div>
        </div>
        <% }else{ %>

        <div class="st8InsideCoverdiv rightpage">
            <div class="st8Coverdiv">
                <div class="st8page">
                    <img class='PageSubImages' src="<%= ImageArr.right_image %>"  alt=''/>
                    <div class="MonthName"></div>
                   
                </div>
            </div>
        </div>
        <% } %> 
       
    </body>
</html>